.navbar {
  font-family: 'Montserrat', sans-serif;
  margin-top: 3em;
  border: none;
}

.navbar-brand {
  font-weight: 800;
  font-size: 1.5em;
  letter-spacing: 3px;
  margin-right: 10px;
}

.nav-link {
  font-size: 1.25em;
  font-weight: 400;
}
