.navbar {
  font-family: 'Montserrat', sans-serif;
  /* margin-top: 3em; */
  border: none;
  background-color: white;
}

.navbar-brand {
  font-weight: 800;
  font-size: 1.5em;
  letter-spacing: 3px;
  margin-right: 10px;
}

.form-rounded {
  border-radius: 1rem;
}

.errorMessage {
  color: red;
}

.nav-link {
  font-size: 1.25em;
  font-weight: 400;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: white;
  text-decoration: none;
}

/* Server info input with button */

.subscribe_form {
  max-width: 470px;
  width: 100%;
  margin: 0 auto;
  /* box-shadow: 0px 2px 5px 0px rgba(10, 6, 20, 0.24); */
  height: 44px;
}

#subscription_area input {
  height: 44px;
  border-radius: 5px 5px 5px 5px;
}
#subscription_area form-control {
  border: none;
}

#subscription_area button {
  border: none;
  height: 44px;
  background-color: #9f3c2d;
  color: #fff;
  margin: -1px;
  border-radius: 0;
  width: 135px;
  text-transform: uppercase;
  position: relative;
  transition: all ease 0.3s;
  border-radius: 5px 5px 5px 5px;
}

/* input border colors when focused */

.form-control:focus {
  border-color: grey;
  box-shadow: none;
}
.form-control.is-invalid:focus {
  box-shadow: none;
}
.form-control.is-valid:focus {
  box-shadow: none;
}

.btn.btn-default:focus {
  box-shadow: none;
}
/* input border colors when focused */

/* flaglist card background color */

.card.bg-light {
  border-radius: 5px 5px 0 0;
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border-color: #9f3c2d;
  background-color: white;
}

/* TABLES */

.table.table-borderless {
  border-collapse: collapse;
  font-size: 1em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  /* margin: 25px 0; */
  min-height: 100%;
  height: 100%;
}

.table > thead > tr {
  background-color: #9f3c2d;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.table th,
.table td {
  padding: 12px 15px;
}

.table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.table tbody tr:last-of-type {
  border-bottom: 2px solid #9f3c2d;
}

/* BADGE PILL */

.badge.badge-pill.badge-warning {
  background-color: #9f3c2d;
  color: white;
}

.badge.badge-pill.badge-success {
  background-color: #f9e680;
  color: #640b0a;
}

/* REGISTER BUTTON */

.btn.btn-outline-light:hover {
  background-color: #f9e680;
}

.btn.btn-outline-light:focus {
  border: none;
  box-shadow: none;
  background-color: #f9e680;
}

.btn.btn-outline-light:focus {
  border: none;
  box-shadow: none;
  background-color: #f9e680;
}

.btn.btn-outline-light {
  border-color: #640b0a;
  /* border: solid; */
}

.btn.btn-outline-light > a {
  color: #640b0a;
}

/* Farm list form */

.card-header {
  /* background-color: #640b0a; */
  background-color: #9f3c2d;
  color: white;
  border-radius: 5px 5px 0 0;
}

.card.form {
  /* border: solid; */
  /* border-color: #640b0a; */
  border-bottom: 5px solid #9f3c2d;
  /* border-right: 0.5px solid #9f3c2d; */
  /* border-left: 0.5px solid #9f3c2d; */
}

.btn.btn-primary {
  background-color: #aa8f36;
  border: none;
}

.btn.btn-primary:active:focus {
  background-color: #aa8f36 !important;
  /* background-color: #f9e680 !important; */
  /* background-color: #F9E680 */
  border: none !important;
  box-shadow: none !important;
}
