.navbar {
  font-family: 'Montserrat', sans-serif;
  /* margin-top: 3em; */
  border: none;
  background-color: white;
}

.navbar-brand {
  font-weight: 800;
  font-size: 1.5em;
  letter-spacing: 3px;
  margin-right: 10px;
}

.form-rounded {
  border-radius: 1rem;
}

.nav-link {
  font-size: 1.25em;
  font-weight: 400;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: white;
  text-decoration: none;
}
